body {
  margin: 0 auto;
}

.tb_button {
  padding: 1px;
  cursor: pointer;
  border-right: 1px solid #8b8b8b;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.tb_button.hover {
  border: 2px outset #def;
  background-color: #f8f8f8 !important;
}

.ws_toolbar {
  z-index: 100000;
}

.ws_toolbar .ws_tb_btn {
  cursor: pointer;
  border: 1px solid #555;
  padding: 3px;
}

.tb_highlight {
  background-color: yellow;
}

.tb_hide {
  visibility: hidden;
}

.ws_toolbar img {
  padding: 2px;
  margin: 0;
}
